/* Sidebar Styles */
.sidebar {
    background:#290D7E;
    color: yellow;
    padding-top: 0%;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
  }
  
  .sidebar ul li button:hover,
  .sidebar ul li button:focus,
  .sidebar ul li button:active {
    background-color: yellow;
    color: #290D7E;
    /* Change the background color when button is hovered, focused, or active */
  }
  
  .sidebar {
    font-size: 24px; /* Increase the sidebar font size */
  }
  .sidebar h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-style: oblique;
   
  }
  
  .sidebar ul li {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  /* .sidebar ul li:hover,
  .sidebar ul li:focus {
    background-color: yellow;
    color: #290D7E;  
     /* Change the background color on hover and focus */
  
  
  .sidebar ul li button:hover,
  .sidebar ul li button:focus {
    background-color: yellow;
    color: #290D7E;
    /* Change the background color on hover and focus */
  }
  
  
  
  
  .sidebar ul li {
    border-bottom: 1px solid #ccc; /* Add a horizontal line below each list item */
    padding-bottom: 10px; /* Adjust the padding as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
  }
  
  
  .card.mb-3 {
    font-size: 32px; /* Increase the card font size */
    padding: 30px; /* Increase the card padding */
    margin: 0 auto; /* Center the card horizontally */
    max-width: 800px; /* Set a maximum width for the card */
    color: #290D7E;
  }
  
  
  .sidebar h4 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    background-color: #290D7E;
    color: yellow;
  }
  
  /* Card Styles */
  .card {
    margin-top: 20px;
    margin-left: 220px; /* Adjust the margin-left to create space for the sidebar */
    font-size: 28px; /* Increase the card font size */
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-body h6 {
    font-size: 24px; /* Increase the font size */
    margin-bottom: 0;
  }
  
  .card-body hr {
    margin: 10px 0;
  }
  
  /* Button Styles */
  .btn-primary {
    margin-bottom: 20px;
    font-size: 36px; /* Increase the font size */
  }
  
  /* Additional Styles */
  .text-secondary {
    color: #888;
  }
  
  .btn-info {
    margin-top: 20px;
  }
  